.main-div{
    position: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
     .mat-card{
        width:400px;
        text-align:center;
        padding: 32px;
    }
    .buttons {
        .go-back-button {
            margin-right: 10px;
        }
    }
}